body {
  background-color: #f8f9fa;
}
.navbar {
  background-color: #0000ff;
}
.logo-brand{
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}
pre {
  background: #212529;
  color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb{
  background-color: transparent;
  width: 1px;
  color: transparent;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 1px;
  color: transparent;
}

.text-center {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 500;
}

.list-group {
  width: 80rem;
  gap: 30px;
  text-decoration: none;
}

.lang-title {
  text-decoration: none;
  font-family: "Poetsen One", sans-serif;
  
}

.lang-title:hover {
  color: #4c9d00;
}

.lang-intro {
  font-family: "Winky Rough", sans-serif;
  font-size: 1.1rem !important; 
  line-height: 1.2;
  text-decoration: none;
  margin-top: 7px;
  color: #484e53;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-style: italic;
}

.list-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.list-group-item {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  background: #deebe6;
  border: 2px solid #0584c8;
  border-radius: 9px;
  height: 9rem;
  padding: 10px 9rem;
  clip-path: polygon(10% 0, 93% 0, 86% 100%, 3% 100%);
}


@media (max-width: 768px) {

    .container {
        width: 100%;
    }
    .list-container {
        width: 100%;
    }

    .lang-intro{
    font-size: 13px !important;
    }
  
  .list-group-item {
    padding: 10px 2rem;
    height: auto;
    font-size: 24px;
    clip-path: none;
  }

  .list-group {
  width: 100rem;
  gap: 30px;
  text-decoration: none;
}
    
}

@media (min-width: 768px) and (max-width: 1024px) {
  .list-group-item {
    padding: 10px 2rem;
    height: auto;
    font-size: 24px;
    clip-path: none;
  }
    
}

@media (min-width: 1024px) and (max-width: 1224px) {
    .lang-intro{
        margin-top: 4px;
    }
}
