

     body {
      background-color: #f8f9fa;
    }
    .navbar {
      background-color: #0000ff;
    }
    .navbar-brand {
      color: white;
      font-weight: bold;
    }
     .hero {
      background: url('https://www.freepik.com/premium-vector/web-development-coding-programming-data-analysis-laptop-with-futuristic-ui_52755015.htm#fromView=keyword&page=1&position=6&uuid=7c76b501-135e-4dc0-9838-37e4a762bcbd&query=Coding+landscape') center/cover no-repeat;
      color: white;
      text-align: center;
      padding: 6rem 2rem;
    }

    ::-webkit-scrollbar-thumb{
  background-color: transparent;
  width: 1px;
  color: transparent;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 1px;
  color: transparent;
}

    .hero h1 {
      font-size: 2.2rem;
      font-weight: 700;
    }

    .hero p {
      margin-top: 1rem;
      font-size: 1rem;
      max-width: 600px;
      margin-inline: auto;
    }

    .btn {
      background: blue;
      color: white;
      padding: 10px 14px;
      border: none;
      border-radius: 6px;
      margin-top: 20px;
      cursor: pointer;
      font-weight: 600;
    }

.signupMss{
  display:none;
}
